{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for auction in auctions %}
        <div class="card mb-3" style="max-width: 540px;">
            <a href="listing/{{ auction.pk }}">
            <div class="row no-gutters h-100 align-items-center">
                <div class="col-md-4 text-center">
                    {% if auction.image_addr %}
                        <img src="{{ auction.image_addr }}" class="card-img" alt="No photo">
                    {% else %}
                        No photo
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ auction.title }}</h5>
                        <p class="card-text">{{ auction.description }}</p>
                        <p class="text-dark"><b>Last Bid:</b> €{{ auction.best_bid }}</p>
                        <p class="card-text"><small class="text-muted"> 
                            {% if auction.closed %} 
                                Closed
                            {% else %}
                                Deadline: {{ auction.deadline }}
                            {% endif %}
                        </small></p>
                    </div>
                </div>
            </div>
            </a>
        </div>
    {% empty %}
        <h4>No listings</h2>
    {% endfor %}
{% endblock %}