{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry
{% endblock %}

{% block body %}
    <h1>Edit Entry</h1>
    </br>
    <form action="" method="POST">
        {% csrf_token %}         
        <h2>{{ entry_name }}</h2></br>
        <input type="hidden" name="title" value="{{ entry_name }}">
        <textarea name="content" rows="10" cols="30" required>{{ entry_body }}</textarea> 
        </br></br>
        <input type="submit" value="Save">
    </form>    
{% endblock %}